extends ../layout/private

block title
  title Todoの削除｜ToDoリスト管理アプリ

block breadcrumb
  nav.mt-3(aria-label='パンくずリスト')
    .container
      ol.breadcrumb
        li.breadcrumb-item
          a(href='../../') ToDo
        li.breadcrumb-item
          a(href='../') 詳細
        li.breadcrumb-item
          a(href='./' aria-current='page') 削除

block main
  #main
