extends ../layout/private

block title
  title Todo一覧｜ToDoリスト管理アプリ

block breadcrumb
  nav.mt-3(aria-label='パンくずリスト')
    .container
      ol.breadcrumb
        li.breadcrumb-item
          a(href='./' aria-current='page') ToDo

block main
  main
    .container
      h1 ToDo一覧
      nav.mt-3(aria-label='メニュー')
        .d-flex.flex-wrap.gap-2
          a.btn.btn-outline-primary(href='./add/') 登録...
      nav.mt-3(aria-label='メイン')
        .list-group
          a.list-group-item.list-gorup-item-action(href='./1/') ここにToDoの内容が入ります
          a.list-group-item.list-gorup-item-action(href='./1/') ここにToDoの内容が入ります
          a.list-group-item.list-gorup-item-action(href='./1/') ここにToDoの内容が入ります
          a.list-group-item.list-gorup-item-action(href='./1/') ここにToDoの内容が入ります
          a.list-group-item.list-gorup-item-action(href='./1/') ここにToDoの内容が入ります
