extends ../layout/private

block title
  title Todoの登録｜ToDoリスト管理アプリ

block breadcrumb
  nav.mt-3(aria-label='パンくずリスト')
    .container
      ol.breadcrumb
        li.breadcrumb-item
          a(href='../') ToDo
        li.breadcrumb-item
          a(href='./' aria-current='page') 登録

block main
  main#main
    .container
      h1 ToDoの登録
      nav.mt-3(aria-label='メニュー')
        .d-flex.flex-wrap.gap-2
          a.btn.btn-outline-secondary(href='../') 戻る
      form.mt-3(role='form')
        .form-group.mb-3
          label.form-label(for='content') ToDoの内容
          input.form-control(type='text' name='content' id='content' aria-required='true' v-model='body.form.content' v-bind:class="{'is-invalid': body.validation.content.ok === false}" v-bind:aria-invalid="body.validation.content.ok === false" v-bind:aria-describedby="body.validation.content.ok === false && 'contentFeedback'")
          p.invalid-feedback(id='contentFeedback')
            template(v-if='body.validation.content.isNotEmpty === false')
              | ToDoの内容をご入力ください
        .d-grid
          button.btn.btn-primary(type='submit' v-on:click.prevent='onClickButtonSubmit') 登録
