extends ../layout/private

block title
  title Todoの詳細｜ToDoリスト管理アプリ

block breadcrumb
  nav.mt-3(aria-label='パンくずリスト')
    .container
      ol.breadcrumb
        li.breadcrumb-item
          a(href='../') ToDo
        li.breadcrumb-item
          a(href='./' aria-current='page') 詳細

block main
  main
    .container
      h1 ToDoの詳細
      nav.mt-3(aria-label='メニュー')
        .d-flex.flex-wrap.gap-2
          a.btn.btn-outline-secondary(href='../') 戻る
          a.btn.btn-outline-primary(href='./edit/') 修正...
          a.btn.btn-outline-danger(href='./delete/') 削除...
      dl.mt-3
        dt 登録日時
        dd 2011年6月1日(水曜日) 12時34分56秒

        dt 内容
        dd ここにToDoの内容が入ります
