extends ../layout/private

block title
  title Todoの削除｜ToDoリスト管理アプリ

block breadcrumb
  nav.mt-3(aria-label='パンくずリスト')
    .container
      ol.breadcrumb
        li.breadcrumb-item
          a(href='../../') ToDo
        li.breadcrumb-item
          a(href='../') 詳細
        li.breadcrumb-item
          a(href='./' aria-current='page') 削除

block main
  main(id='main')
    .container
      h1 ToDoの削除
      nav.mt-3(aria-label='メニュー')
        .d-flex.flex-wrap.gap-2
          a.btn.btn-outline-secondary(href='../') 戻る
      form.mt-3(role='form')
        p ToDoを削除してもよろしいですか?
        .row
          .col
            .d-grid
              a.btn.btn-secondary(href='../') キャンセル
          .col
            .d-grid
              button.btn.btn-danger(type='submit' v-on:click.prevent='onClickButtonSubmit') 削除

append script
  script(src='https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js')
  script.
    new Vue({
      el: '#main',

      data: {
        api: `/api/v1${window.location.pathname}`,
      },

      methods: {
        async onClickButtonSubmit () {
          try {
            const options = {
              method: 'DELETE',
            }

            const response = await fetch(this.api + 'submit', options)
            const body = await response.json()

            if (body.ok) {
              window.location.assign(body.redirect)
              return
            }
          } catch (err) {
            console.error(err.message)
            console.debug(err.stack)
          }
        },
      },
    })
