extends ../layout/private
include ./mixin/form-content

block title
  title Todoの修正｜ToDoリスト管理アプリ

block breadcrumb
  nav.mt-3(aria-label='パンくずリスト')
    .container
      ol.breadcrumb
        li.breadcrumb-item
          a(href='../../') ToDo
        li.breadcrumb-item
          a(href='../') 詳細
        li.breadcrumb-item
          a(href='./' aria-current='page') 修正

block main
  main
    .container
      h1 ToDoの修正
      nav.mt-3(aria-label='メニュー')
        .d-flex.flex-wrap.gap-2
          a.btn.btn-outline-secondary(href='../') 戻る
      form.mt-3(role='form')
        +form-content
        .d-grid
          a.btn.btn-primary(href='./finish/') 修正
