extends ../layout/private

block title
  title Todoの削除完了｜ToDoリスト管理アプリ

block breadcrumb
  nav.mt-3(aria-label='パンくずリスト')
    .container
      ol.breadcrumb
        li.breadcrumb-item
          a(href='../../') ToDo
        li.breadcrumb-item 詳細
        li.breadcrumb-item 削除
        li.breadcrumb-item(aria-current='page') 完了

block main
  main
    .container
      h1 ToDoの削除完了
      nav.mt-3(aria-label='メイン')
        .d-grid
          a.btn.btn-success(href='../../') ToDo一覧を表示する
